<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Duel Video Not Found</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Felix Lazo">
    <meta name="description" content="View competitive duel videos from the mobile game Yu-Gi-Oh! Duel Links. The duel replay videos include duels from gold rank through king of games, as well as the KC cup and special events.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit&family=PT+Sans+Caption&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon_io//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon_io//favicon-16x16.png">
    <link rel="manifest" href="images/favicon/favicon_io//site.webmanifest">
    <link rel="stylesheet" href="../css/main.css">
    <style>
      .colored-bg {
        background: -webkit-linear-gradient(#212529, #ff9019 100%);
        background: -o-linear-gradient(#212529, #ff9019 100%);
        background: linear-gradient(#212529, #ff9019 100%);
      }
      .page-not-found-header {
        font-size: 2rem;
      }
      .page-not-found-subheader a {
        color: #0fbcf9;
        text-decoration: underline;
      }
      .main-btn:before {
        transition: 1s;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
      <span class="navbar-brand fs-4">Duel Links Replays</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-3"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item px-3"><a class="nav-link" href="/#decks">Decks</a></li>
        </ul>
      </div>
    </nav>
    <section class="colored-bg text-center py-5 px-1">
      <h2 class="page-not-found-header duel-links-header pb-3">Sorry, but the duel you are looking for could not be found</h2>
      <p class="page-not-found-subheader">
        You can let me know about this problem through <a href="https://jrz5220.github.io/felixlazo/contact.html">email</a> or<br />
        return home to view other duel links videos.
      </p>
      <div class="return-home-links d-flex justify-content-center align-items-center pt-3">
        <a class="main-btn px-3 py-2 me-4" href="/">Home</a>
        <a class="main-btn px-3 py-2 me-4" href="/#decks">Decks</a>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
