<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Felix Lazo">
    <title>Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit&family=PT+Sans+Caption&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon_io//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon_io//favicon-16x16.png">
    <link rel="manifest" href="images/favicon/favicon_io//site.webmanifest">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
      <span class="navbar-brand fs-4">Duel Links Replays</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-3"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item px-3"><a class="nav-link" href="/#decks">Decks</a></li>
        </ul>
      </div>
    </nav>
    <header>
      <h1 class="text-center my-4 my-md-5">Reset Password</h1>
    </header>
    <section>
      <article class="mx-width-800 p-2 p-md-0">
        <p>Enter the email associated with your account. You will receive an email with steps on how to reset your password.</p>
        <form action="/requestPasswordReset" method="post" id="forgotPasswordForm" class="req-pwd-reset-form">
          <% if(hasServerMsg){ %>
            <p id="loginFailMsg" class="small" style="color: #aa0000;"><i class="fas fa-times-circle pe-1" aria-hidden="true"></i> <%= theMsg %></p>
          <% } %>
          <label for="emailRecovery" class="d-block">Email</label>
          <input type="email" id="emailRecovery" class="d-block" name="recoveryEmail" aria-invalid="<%= ariaInvalid %>" aria-errormessage="loginFailMsg" required>
          <button type="submit" class="d-block btn btn-primary mt-3" name="submit">Submit</button>
        </form>
      </article>
    </section>
    <script src="https://kit.fontawesome.com/550ddecd5b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
