<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Felix Lazo">
    <meta name="description" content="View competitive duel videos from the mobile game Yu-Gi-Oh! Duel Links. The duel replay videos include duels from gold rank through king of games, as well as the KC cup and special events.">
    <title>Yu-Gi-Oh Duel Links Replays</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit&family=PT+Sans+Caption&display=swap" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon_io//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon_io//favicon-16x16.png">
    <link rel="manifest" href="images/favicon/favicon_io//site.webmanifest">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
      <span class="navbar-brand fs-4">Duel Links Replays</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-3"><a class="nav-link" href="#decks">Decks</a></li>
          <li class="nav-item px-3"><a class="nav-link" href="#download">Download</a></li>
        </ul>
      </div>
    </nav>

    <!-- HEADER -->
    <header class="main-header container-fluid colored-bg p-5">
      <div class="main-header-content d-flex flex-column justify-content-center align-items-center align-items-md-start">
        <h1 class="duel-links-header col-12 mb-5 display-3"><span>YU-GI-OH</span> DUEL LINKS REPLAYS</h1>
        <div class="d-flex flex-column justify-content-center flex-sm-row justify-content-md-start">
          <a href="https://apps.apple.com/app/id1068378177" class="main-btn px-3 py-2 mb-3 me-3" target="_blank"><i class="fab fa-apple"></i> Download</a>
          <a href="https://play.google.com/store/apps/details?id=jp.konami.duellinks" class="main-btn px-3 py-2 mb-3 me-3" target="_blank"><i class="fab fa-google-play"></i> Download</a>
        </div>
      </div>
    </header>

    <!-- INTRODUCTION -->
    <section class="container-fluid p-4">
      <div class="row">
        <article class="intro col-md-4 text-center p-4">
          <i class="fas fa-play-circle mb-3"></i>
          <h2>Duel Replays</h2>
          <p>Watch some of my favorite duel links replay videos</p>
        </article>
        <article class="intro col-md-4 text-center p-4">
          <i class="fas fa-crown mb-3"></i>
          <h2>King of Games</h2>
          <p>King of Games Duelist and KC Cup competitor</p>
        </article>
        <article class="intro col-md-4 text-center p-4">
          <i class="fas fa-heart mb-3"></i>
          <h2>Popular Cards</h2>
          <p>View popular cards used in the duel replays</p>
        </article>
      </div>
    </section>

    <!-- LATEST UPLOADS -->
    <section class="latest-uploads-section colored-bg p-4">
      <div class="bg-pattern-container" aria-hidden="true">
        <div class="bg-pattern-row">
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
        </div>
        <div class="bg-pattern-row" aria-hidden="true">
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
        </div>
        <div class="bg-pattern-row" aria-hidden="true">
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
        </div>
        <div class="bg-pattern-row" aria-hidden="true">
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
        </div>
      </div>
      <h2 class="display-5 text-center my-4">Latest Uploads</h2>
      <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators mb-0">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active indicator-button" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="indicator-button" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="indicator-button" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="video-wrapper mx-auto">
              <video id="video-1" class="video-js vjs-big-play-centered">
                <source src="https://elasticbeanstalk-us-east-1-801833297134.s3.amazonaws.com/duel_links_videos/vampire/vampire-v-relinquished.mp4" type="video/mp4">
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
            </div>
            <h3 class="text-center p-4">Vampires vs Relinquished</h3>
          </div>
          <div class="carousel-item">
            <div class="video-wrapper mx-auto">
              <video id="video-2" class="video-js vjs-big-play-centered">
                <source src="https://elasticbeanstalk-us-east-1-801833297134.s3.amazonaws.com/duel_links_videos/vendread/vendread-v-lightsworn.mp4" type="video/mp4">
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
            </div>
            <h3 class="text-center p-4">Vendreads vs Lightsworns</h3>
          </div>
          <div class="carousel-item">
            <div class="video-wrapper mx-auto">
              <video id="video-3" class="video-js vjs-big-play-centered">
                <source src="https://elasticbeanstalk-us-east-1-801833297134.s3.amazonaws.com/duel_links_videos/dino/dino-v-sartorius-desperado.mp4" type="video/mp4">
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
            </div>
            <h3 class="text-center p-4">Dinos vs Barrel Dragon</h3>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <!-- DECKS -->
    <section id="decks" class="p-5">
      <div class="container">
        <div class="accordion" id="accordionExample">
          <!-- VENDREADS -->
          <div class="accordion-item mb-3">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <picture class="accordion-btn-bg-pic">
                  <source srcset="../images/bg/accordion-btn/vendreads/vendread-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                  <img class="d-block full-wh" src="../images/bg/accordion-btn/vendreads/vendread-cover-300x105.jpg" alt="Revendread Executor">
                </picture>
                VENDREADS
                <i class="fas fa-chevron-down"></i>
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container-fluid">
                  <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-shiranui.jpg" alt="Vendreads vs Shiranui">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-shiranui"><span class="inner-text">VS <span class="opponent">Shiranui</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-chimeratech-rampage-dragon.jpg" alt="Vendreads vs Chimeratech Rampage Dragon">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-chimeratech-rampage-dragon"><span class="inner-text">VS <span class="opponent">Chimeratech</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-elemental-heroes.jpg" alt="Vendreads vs Elemental Heroes">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-elemental-heroes"><span class="inner-text">VS <span class="opponent">Elemental Heroes</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-sartorius-desperado.jpg" alt="Vendreads vs Desparado Coin Flip">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-sartorius-desperado"><span class="inner-text">VS <span class="opponent">Coin Flip</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-blackwings.jpg" alt="Vendreads vs Blackwings">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-blackwings"><span class="inner-text">VS <span class="opponent">Blackwings</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-top-duelist.jpg" alt="Vendreads vs Top Duelist">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-top-duelist"><span class="inner-text">VS <span class="opponent">WCS 2019 Top 500</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-invoker.jpg" alt="Vendreads vs Invoker">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-invoker"><span class="inner-text">VS <span class="opponent">Invoker</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-yubel.jpg" alt="Vendreads vs Yubel">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-yubel"><span class="inner-text">VS <span class="opponent">Yubel</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-burn.jpg" alt="Vendreads vs Burn">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-burn"><span class="inner-text">VS <span class="opponent">Burn</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-cyber-end-dragon.jpg" alt="Vendreads vs Cyber End Dragon">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-cyber-end-dragon"><span class="inner-text">VS <span class="opponent">Cyber End Dragon</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-desperado-barrel-dragon.jpg" alt="Vendreads vs Desperado Barrel Dragon">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-desperado-barrel-dragon"><span class="inner-text">VS <span class="opponent">Desperado Barrel Dragon</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-dark-magician.jpg" alt="Vendreads vs Dark Magician">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-dark-magician"><span class="inner-text">VS <span class="opponent">Dark Magician</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-magnets.jpg" alt="Vendreads vs Magnets">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vendread-v-magnets"><span class="inner-text">VS <span class="opponent">Magnets</span></span></a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h3 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <picture class="accordion-btn-bg-pic">
                  <source srcset="../images/bg/accordion-btn/vampires/vampire-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                  <img class="d-block full-wh" src="../images/bg/accordion-btn/vampires/vampire-cover-300x105.jpg" alt="Vampire Vamp">
                </picture>
                VAMPIRES
                <i class="fas fa-chevron-down"></i>
              </button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container-fluid">
                  <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-ancient-gears.jpg" alt="Vampires vs Ancient Gears">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vampire-v-ancient-gears"><span class="inner-text">VS <span class="opponent">Ancient Gears</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-fortune-ladies.jpg" alt="Vampires vs Fortune Ladies">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vampire-v-fortune-ladies"><span class="inner-text">VS <span class="opponent">Fortune Ladies</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-cerulean-sacred-phoenix.jpg" alt="Vampires vs Cerulean Sacred Phoenix">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vampire-v-cerulean-sacred-phoenix"><span class="inner-text">VS <span class="opponent">Cerulean Sacred Phoenix</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-burn.jpg" alt="Vampires vs Burn">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vampire-v-burn"><span class="inner-text">VS <span class="opponent">Burn</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-subterrors.jpg" alt="Vampires vs Subterrors">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vampire-v-subterrors"><span class="inner-text">VS <span class="opponent">Subterrors</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-magician-girls.jpg" alt="Vampires vs Magician Girls">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vampire-v-magician-girls"><span class="inner-text">VS <span class="opponent">Magician Girls</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-relinquished.jpg" alt="Vampires vs Relinquished">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/vampire-v-relinquished"><span class="inner-text">VS <span class="opponent">Relinquished</span></span></a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h3 class="accordion-header" id="sacredSoldier">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSacredSoldier" aria-expanded="false" aria-controls="collapseSacredSoldier">
                <picture class="accordion-btn-bg-pic">
                  <source srcset="../images/bg/accordion-btn/sacred-soldier/sacred-soldier-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                  <img class="d-block full-wh" src="../images/bg/accordion-btn/sacred-soldier/sacred-soldier-cover-300x105.jpg" alt="Black Luster Soldier - Sacred Soldier">
                </picture>
                SACRED SOLDIER
                <i class="fas fa-chevron-down"></i>
              </button>
            </h3>
            <div id="collapseSacredSoldier" class="accordion-collapse collapse" aria-labelledby="sacredSoldier" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container-fluid">
                  <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-silent-magician.jpg" alt="Black Luster Soldier - Sacred Soldier vs Silent Magician">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/sacred-soldier-v-silent-magician"><span class="inner-text">VS <span class="opponent">Silent Magician</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-blue-eyes.jpg" alt="Black Luster Soldier - Sacred Soldier vs Blue-Eyes">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/sacred-soldier-v-blue-eyes"><span class="inner-text">VS <span class="opponent">Blue-Eyes</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-sacred-soldier.jpg" alt="Black Luster Soldier - Sacred Soldier FTK">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/sacred-soldier-ftk"><span class="inner-text">FTK</span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-destiny-heroes.jpg" alt="Black Luster Soldier - Sacred Soldier vs Destiny Heroes">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/sacred-soldier-v-destiny-heroes"><span class="inner-text">VS <span class="opponent">Destiny Heroes</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-noble-knights.jpg" alt="Black Luster Soldier - Sacred Soldier vs Noble Knights">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/sacred-soldier-v-noble-knights"><span class="inner-text">VS <span class="opponent">Noble Knights</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-amazoness.jpg" alt="Black Luster Soldier - Sacred Soldier vs Amazoness">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/sacred-soldier-v-amazoness"><span class="inner-text">VS <span class="opponent">Amazoness</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-masked-beast-des-gardius.jpg" alt="Black Luster Soldier - Sacred Soldier vs Masked Beast Des Gardius">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/sacred-soldier-v-masked-beast-des-gardius"><span class="inner-text">VS <span class="opponent">Masked Beast Des Gardius</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-sacred-soldier.jpg" alt="Black Luster Soldier - Sacred Soldier with Lava Golem">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/sacred-soldier-lava-golem-combo"><span class="inner-text">Lava Golem Combo</span></a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h3 class="accordion-header" id="dinos">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDinos" aria-expanded="false" aria-controls="collapseDinos">
                <picture class="accordion-btn-bg-pic">
                  <source srcset="../images/bg/accordion-btn/dinos/dino-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                  <img class="d-block full-wh" src="../images/bg/accordion-btn/dinos/dino-cover-300x105.jpg" alt="Destroyersaurus">
                </picture>
                DINOS
                <i class="fas fa-chevron-down"></i>
              </button>
            </h3>
            <div id="collapseDinos" class="accordion-collapse collapse" aria-labelledby="dinos" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container-fluid">
                  <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-subterrors.jpg" alt="Dinos vs Subterrors">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/dino-v-subterrors"><span class="inner-text">VS <span class="opponent">Subterrors</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-gravekeepers.jpg" alt="Dinos vs Gravekeepers">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/dino-v-gravekeepers"><span class="inner-text">VS <span class="opponent">Gravekeepers</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-sartorius-desperado.jpg" alt="Dinos vs Sartorius Desperado">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/dino-v-sartorius-desperado"><span class="inner-text">VS <span class="opponent">Sartorius Desperado</span></span></a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h3 class="accordion-header" id="archfiends">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseArchfiends" aria-expanded="false" aria-controls="collapseArchfiends">
                <picture class="accordion-btn-bg-pic">
                  <source srcset="../images/bg/accordion-btn/archfiends/archfiend-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                  <img class="d-block full-wh" src="../images/bg/accordion-btn/archfiends/archfiend-cover-300x105.jpg" alt="Archfiend Emperor, the First Lord of Horror">
                </picture>
                ARCHFIENDS
                <i class="fas fa-chevron-down"></i>
              </button>
            </h3>
            <div id="collapseArchfiends" class="accordion-collapse collapse" aria-labelledby="archfiends" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container-fluid">
                  <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-evil-heroes.jpg" alt="Archfiends vs Evil Heroes">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/archfiend-v-evil-heroes"><span class="inner-text">VS <span class="opponent">Evil Heroes</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-red-eyes-slash-dragon.jpg" alt="Archfiends vs Dragons">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/archfiend-v-dragons"><span class="inner-text">VS <span class="opponent">Dragons</span></span></a>
                        </h4>
                      </div>
                    </div>
                    <div class="video-link-container col-lg-6">
                      <div class="video-link-content-wrap">
                        <picture class="video-link-bg-pic">
                          <img class="d-block full-wh" src="../images/bg/video-link/vs-gladiator-beasts.jpg" alt="Archfiends vs Gladiator Beasts">
                        </picture>
                        <h4 class="video-link-header">
                          <a href="/archfiend-v-gladiator-beasts"><span class="inner-text">VS <span class="opponent">Gladiator Beasts</span></span></a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="hideAdditionalDecks" class="additional-decks">
            <div class="accordion-item mb-3">
              <h3 class="accordion-header" id="psychics">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePsychics" aria-expanded="false" aria-controls="collapsePsychics">
                  <picture class="accordion-btn-bg-pic">
                    <source srcset="../images/bg/accordion-btn/psychics/psychic-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                    <img class="d-block full-wh" src="../images/bg/accordion-btn/psychics/psychic-cover-300x105.jpg" alt="Destructotron">
                  </picture>
                  PSYCHICS
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h3>
              <div id="collapsePsychics" class="accordion-collapse collapse" aria-labelledby="psychics" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container-fluid">
                    <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/psychic-1.jpg" alt="Psychics 1">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/psychic-1"><span class="inner-text">Psychics <span class="opponent">1</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/psychic-2.jpg" alt="Psychics 2">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/psychic-2"><span class="inner-text">Psychics <span class="opponent">2</span></span></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-3">
              <h3 class="accordion-header" id="amazons">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAmazons" aria-expanded="false" aria-controls="collapseAmazons">
                  <picture class="accordion-btn-bg-pic">
                    <source srcset="../images/bg/accordion-btn/amazons/amazon-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                    <img class="d-block full-wh" src="../images/bg/accordion-btn/amazons/amazon-cover-300x105.jpg" alt="Amazon Princess">
                  </picture>
                  AMAZONS
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h3>
              <div id="collapseAmazons" class="accordion-collapse collapse" aria-labelledby="amazons" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container-fluid">
                    <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/amazon-mirror-match.jpg" alt="Amazon Mirror Match 1">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/amazon-mirror-match-1"><span class="inner-text">Mirror Match <span class="opponent">1</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/amazon-mirror-match.jpg" alt="Amazon Mirror Match 2">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/amazon-mirror-match-2"><span class="inner-text">Mirror Match <span class="opponent">2</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/vs-anti-trap.jpg" alt="Amazon vs Anti-Trap">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/amazon-v-anti-trap"><span class="inner-text">VS <span class="opponent">Anti-Trap</span></span></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-3">
              <h3 class="accordion-header" id="elementsabers">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseElementsabers" aria-expanded="false" aria-controls="collapseElementsabers">
                  <picture class="accordion-btn-bg-pic">
                    <source srcset="../images/bg/accordion-btn/elementsabers/elementsaber-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                    <img class="d-block full-wh" src="../images/bg/accordion-btn/elementsabers/elementsaber-cover-300x105.jpg" alt="Elementsaber Molehu">
                  </picture>
                  ELEMENTSABERS
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h3>
              <div id="collapseElementsabers" class="accordion-collapse collapse" aria-labelledby="elementsabers" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container-fluid">
                    <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/vs-burn.jpg" alt="Elementsabers vs Burn">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/elementsaber-v-burn"><span class="inner-text">VS <span class="opponent">Burn</span></span></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-3">
              <h3 class="accordion-header" id="rezd">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseREZD" aria-expanded="false" aria-controls="collapseREZD">
                  <picture class="accordion-btn-bg-pic">
                    <source srcset="../images/bg/accordion-btn/rezd/rezd-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                    <img class="d-block full-wh" src="../images/bg/accordion-btn/rezd/rezd-cover-300x105.jpg" alt="Red-Eyes Zombie Dragon">
                  </picture>
                  REZD
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h3>
              <div id="collapseREZD" class="accordion-collapse collapse" aria-labelledby="rezd" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container-fluid">
                    <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/vs-sylvans.jpg" alt="Red-Eyes Zombie Dragon vs Sylvans">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/rezd-v-sylvans"><span class="inner-text">VS <span class="opponent">Sylvans</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/vs-armed-dragon.jpg" alt="Red-Eyes Zombie Dragon vs Armed Dragon">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/rezd-v-armed-dragon"><span class="inner-text">VS <span class="opponent">Armed Dragon</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/vs-amazoness.jpg" alt="Red-Eyes Zombie Dragon vs Amazoness">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/rezd-v-amazoness"><span class="inner-text">VS <span class="opponent">Amazoness</span></span></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-3">
              <h3 class="accordion-header" id="gemini">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGemini" aria-expanded="false" aria-controls="collapseGemini">
                  <picture class="accordion-btn-bg-pic">
                    <source srcset="../images/bg/accordion-btn/gemini/gemini-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                    <img class="d-block full-wh" src="../images/bg/accordion-btn/gemini/gemini-cover-300x105.jpg" alt="Gemini Spark">
                  </picture>
                  GEMINI
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h3>
              <div id="collapseGemini" class="accordion-collapse collapse" aria-labelledby="gemini" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container-fluid">
                    <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/vs-batteryman.jpg" alt="Red-Eyes Zombie Dragon vs Batteryman">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/gemini-v-batteryman"><span class="inner-text">VS <span class="opponent">Batteryman</span></span></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-3">
              <h3 class="accordion-header" id="special-duels">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecialDuels" aria-expanded="false" aria-controls="collapseSpecialDuels">
                  <picture class="accordion-btn-bg-pic">
                    <source srcset="../images/bg/accordion-btn/special-duels/special-duel-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                    <img class="d-block full-wh" src="../images/bg/accordion-btn/special-duels/special-duel-cover-300x105.jpg" alt="Special Duels">
                  </picture>
                  SPECIAL DUELS
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h3>
              <div id="collapseSpecialDuels" class="accordion-collapse collapse" aria-labelledby="special-duels" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Special Duels are played with special rules. The rules for these special duels require you to use a deck themed around your character.
                  </p>
                  <div class="container-fluid">
                    <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/dark-necrofear-special-duel-1.jpg" alt="Dark Necrofear Special Duel 1">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/dark-necrofear-special-duel-1"><span class="inner-text">Dark Necrofear <span class="opponent">Special Duel 1</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/dark-necrofear-special-duel-2.jpg" alt="Dark Necrofear Special Duel 2">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/dark-necrofear-special-duel-2"><span class="inner-text">Dark Necrofear <span class="opponent">Special Duel 2</span></span></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-3">
              <h3 class="accordion-header" id="turbo-duels">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTurboDuels" aria-expanded="false" aria-controls="collapseTurboDuels">
                  <picture class="accordion-btn-bg-pic">
                    <source srcset="../images/bg/accordion-btn/turbo/turbo-duels-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                    <img class="d-block full-wh" src="../images/bg/accordion-btn/turbo/turbo-duels-cover-300x105.jpg" alt="Turbo Duels">
                  </picture>
                  TURBO DUELS
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h3>
              <div id="collapseTurboDuels" class="accordion-collapse collapse" aria-labelledby="turbo-duels" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container-fluid">
                    <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/td-elementsaber-v-lunalights.jpg" alt="Turbo Duel: Elementsabers vs Lunalights">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/td-elementsaber-v-lunalights"><span class="inner-text">Elementsabers <span class="opponent">VS Lunalights</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/td-vendread-v-shiranui.jpg" alt="Turbo Duel: Vendread vs Shiranui">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/td-vendread-v-shiranui"><span class="inner-text">Vendreads <span class="opponent">VS Shiranui</span></span></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-3">
              <h3 class="accordion-header" id="other-duels">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOtherDuels" aria-expanded="false" aria-controls="collapseOtherDuels">
                  <picture class="accordion-btn-bg-pic">
                    <source srcset="../images/bg/accordion-btn/other/other-duels-cover-513x180.jpg" media="(min-width: 767px)" type="image/jpeg">
                    <img class="d-block full-wh" src="../images/bg/accordion-btn/other/other-duels-cover-300x105.jpg" alt="Yu-Gi-Oh! Logo">
                  </picture>
                  OTHER DUELS
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h3>
              <div id="collapseOtherDuels" class="accordion-collapse collapse" aria-labelledby="other-duels" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container-fluid">
                    <div class="row gy-2 gx-3 d-flex justify-content-center align-items-center">
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/bakura-otk.jpg" alt="Bakura OTK">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/bakura-otk"><span class="inner-text">Bakura <span class="opponent">OTK</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/vs-six-samurai.jpg" alt="Beast Warriors vs Six Samurai">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/beast-warriors-v-six-samurai"><span class="inner-text">Beast Warriors <span class="opponent">VS Six Samurai</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/constellar-v-bewd.jpg" alt="Constellar vs Blue-Eyes White Dragon">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/constellar-v-bewd"><span class="inner-text">Constellar <span class="opponent">VS Blue-Eyes</span></span></a>
                          </h4>
                        </div>
                      </div>
                      <div class="video-link-container col-lg-6">
                        <div class="video-link-content-wrap">
                          <picture class="video-link-bg-pic">
                            <img class="d-block full-wh" src="../images/bg/video-link/vs-rex-goodwin.jpg" alt="Earthbound Immortal Wiraqocha Rasca">
                          </picture>
                          <h4 class="video-link-header">
                            <a href="/wiraqocha-rasca"><span class="inner-text">Earthbound Immortal <span class="opponent">Wiraqocha Rasca</span></span></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button id="view-all-decks-btn" class="main-btn decks-btn fs-5 px-3 py-2 mt-3" type="button" aria-expanded="false" aria-controls="collapseAdditionalDecks">
            View All Decks
          </button>
        </div> <!-- end accordion -->
      </div>
    </section>

    <!-- DOWNLOADS -->
    <section id="download" class="downloads colored-bg text-center p-5">
      <div class="bg-pattern-container" aria-hidden="true">
        <div class="bg-pattern-row">
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
        </div>
        <div class="bg-pattern-row">
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
          <div class="square-pattern"></div>
        </div>
      </div>
      <h2 class="display-5 top-element mb-4">Download Yu-Gi-Oh! Duel Links</h2>
      <div class="top-element d-flex flex-column align-items-center justify-content-center flex-md-row justify-content-md-center">
        <a href="https://apps.apple.com/app/id1068378177" class="main-btn px-3 py-2 mb-3 me-3" target="_blank"><i class="fab fa-apple"></i> Download</a>
        <a href="https://play.google.com/store/apps/details?id=jp.konami.duellinks" class="main-btn px-3 py-2 mb-3 me-3" target="_blank"><i class="fab fa-google-play"></i> Download</a>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="the-footer p-5">
      <div class="container">
        <div class="footer-links d-flex justify-content-evenly">
          <a class="footer-link" href="https://store.steampowered.com/app/601510/YuGiOh_Duel_Links/" target="_blank"><i class="fab fa-steam fs-4"></i></a>
          <a class="footer-link" href="https://jrz5220.github.io/felixlazo/contact.html" target="_blank"><i class="fas fa-envelope fs-4"></i></a>
          <a class="footer-link" href="https://github.com/" target="_blank"><i class="fab fa-github fs-4"></i></a>
        </div>
        <p class="disclaimer mt-4 mb-0"><small>This website is not affiliated with the Konami Corporation. All information related to the Yu-Gi-Oh! trading card game and the Yu-Gi-Oh! Duel Links digital game is owned and copyrighted by Konmai.</small></p>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/550ddecd5b.js" crossorigin="anonymous"></script>
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    <script src="https://cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
